<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.CSCB07G3.medicalappointmenttracker">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MedicalAppointmentTracker">
        <activity
            android:name=".DoctorViewPatientInfoActivity"
            android:exported="true"
            android:label="Patient Information"
            android:parentActivityName=".DoctorTrackAppointmentActivity" />
        <activity
            android:name=".PatientViewDoctorAvailabilityActivity"
            android:parentActivityName=".ChooseAppointmentActivity"
            android:exported="true" />
        <activity
            android:name=".DoctorTrackAppointmentActivity"
            android:exported="true"
            android:label="@string/title_activity_doctor_track_appointment"
            android:theme="@style/Theme.MedicalAppointmentTracker.NoActionBar"
            android:launchMode="singleTop" />
        <activity
            android:name=".ChooseAppointmentActivity"
            android:exported="true"
            android:label="@string/title_activity_choose_appointment2"
            android:theme="@style/Theme.MedicalAppointmentTracker.NoActionBar"
            android:launchMode="singleTop" />
        <activity
            android:name=".CreateAppointmentActivity"
            android:exported="true"
            android:parentActivityName=".DoctorTrackAppointmentActivity"/>
        <activity
            android:name=".RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>